.contentWrapper {
    width: 420px;
    max-width: 100%;
    margin-bottom: -90px;
    position: absolute; /* Position relative to the parent */
    top: 50%; /* Center vertically */
    right: 10%; /* Position from the right */
    transform: translateY(-50%); /* Align center vertically */
    text-align: right; /* Align text to the right */
  }
  
  .title {
    font: 150 39px/1 Poppins, sans-serif;
    color: rgba(0, 94, 162, 1);
  }
  
  .ctaButton {
    border-radius: 14px 0 14px 0;
    display: flex;
    align-items: center;
    gap: 2px;
    margin: 45px 0 0 10px;
    padding: 13px 22px;
    font: 350 15px Nunito, sans-serif;
    border: 2px solid rgba(0, 94, 162, 1);
    color: rgba(0, 94, 162, 1);
    cursor: pointer;
  }
  
  .buttonIcon {
    width: 14px; /* Adjust size as needed */
    height: 14px;
    object-fit: contain;
}
.ctaButton:hover {
    background-color: rgba(0, 94, 162, 0.1); /* Light blue background */
    color: black; /* White text */
    transition: background-color 0.3s ease, color 0.3s ease;
}

  
@media (max-width: 768px) {
    .title {
        font-size: 32px; /* Adjust to fit smaller devices */
    }
}

