@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('/path/to/your/background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow-y: auto; /* Allow vertical scrolling */
}

#root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.signup-container {
    margin: 5rem auto; /* Add top and bottom margin to create spacing from the Navbar and Footer */
    max-width: 410px;
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.signup-container .form-title {
    text-align: center;
    font-size: 1.37rem;
    font-weight: 600;
    margin-bottom: 1.87rem;
    color: #000;
}

.signup-form .input-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
}

.signup-form .input-field {
    width: 100%;
    padding: 0.75rem 2.7rem 0.75rem 1rem;
    border: 1px solid #3c1ad4;
    border-radius: 0.31rem;
    font-size: 1.06rem;
    outline: none;
    transition: 0.2s ease;
}

.signup-form .input-field:focus {
    border-color: #3c1ad4;
}

.signup-form .input-field::placeholder {
    color: #3c1ad4;
}

.signup-form .input-wrapper i.eye-icon {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.3rem;
    color: #3c1ad4;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 2rem;
}

.signup-form .signup-button {
    border: none;
    outline: none;
    width: 100%;
    height: 54px;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
    margin-top: 2.19rem;
    border-radius: 0.31rem;
    background: #3c1ad4;
    transition: 0.3s ease;
}

.signup-form .signup-button:hover {
    background: #281388;
}

.signup-container .login-prompt {
    text-align: center;
    font-size: 1.06rem;
    font-weight: 500;
    margin: 1.75rem 0 0.31rem;
}

.signup-container a {
    color: #3c1ad4;
    font-weight: 500;
    text-decoration: none;
}

.signup-container a:hover {
    text-decoration: underline;
}