.user-table-container {
  margin-top: 20px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th, .user-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.user-table th {
  background-color: #f2f2f2;
  text-align: left;
  color: black;
}

.user-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.user-table tr:hover {
  background-color: #ddd;
}

.user-table .Edit-btn button {
  background-color: #007bff !important;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.user-table .Edit-btn button:hover {
  background-color: #0056b3 !important;
}
.user-table .Delete-btn button {
  background-color: red !important;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.Delete-btn button:hover {
  background-color: red !important;
}

.user-table button.Delete-btn:hover {
  background-color: darkred !important;
}